{%  extends "base.html.twig" %}

{% block body %}

<h2>Nouveau thème</h2>
{{ form(themeForm) }}

<h2>liste des thèmes</h2>
<ul>
    {% for theme in themeList %}
        <li>{{ theme.name }}</li>
    {% endfor %}
</ul>

{% endblock %}